@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700;5..1200,800;5..1200,900&display=swap');

body {
    background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: 'Gantari', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    width: 500px;
    height: 100%;
    margin: 50px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px black solid; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    background-color: #0B666A;
    width: 400px;
    border: none;
    margin: 20px 20px 10px;
    padding: 5px 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    font-family: 'Playfair', serif;
    font-size: 40px;
    color: #f5f3f8;
}

h2 {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}

form {
    background: #9AB3F5;
    width: 400px;
    margin: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

label {
    font-size: 18px;
    margin: 0 0 5px;
    font-weight: 500;
}

.input {
    padding: 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.gender-group {
    display: flex;
    flex-direction: row;

}

.form-check {
    font-size: 18px;
    margin: 5px 2px;
    font-weight: normal;
}

.form-check-input {
    margin-top: 2px;
}


.button-group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    padding: 15px 25px;
    background-color: #DFCCFB;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    background-color: #9F91CC;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}



#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: #C4D7B2;
    width: 80%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Gantari', sans-serif;
}

.popup-close {
    text-align: right;
}

.close-btn {
    color: black;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
}